.footer {
  background-color: #0f1f4b;
  color: white;
  padding: 40px 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.footer-container {
  max-width: 1200px;
  margin:  auto;
}

.footer-about h3{
  margin-bottom: 18px;
  font-size: 28px;
  font-weight: 700;
}

.team-description {
  font-size: 17px;
  line-height: 1.7;
  max-width: 600;
  margin-bottom: 22px;
  font-weight: 400;

}

.members-list {
  list-style: none;
  padding: 0;
}
.members-list li {
  font-size: 16px;
  margin-bottom: 10px;
  font-weight: 500;
}
.footer-about p {
  line-height: 1.5;
  margin-bottom: 8px;
}
hr {
  margin: 35px 0;
  border: 0.5px solid rgba(225, 225, 223, 0.3);
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.footer-text p {
  font-size: 16px;
  line-height: 1.2;
  font-weight: 600;
}
.footer-links {
  display: flex;
  gap: 28px;

}

.footer-links a {
  color: white; !important;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  transition: 0.3s ease;
}


/*mobile version*/
@media (max-width: 768px) {
  .footer-bottom {
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
  }
  .footer {
    padding: 35px 20px;
  }

  .footer-about h3 {
    font-size: 24px;
  }

  .team-description {
    font-size: 16px;
  }

  .footer-links {
    flex-direction: column;
    gap: 18px;
  }
}